<div class="main" *ngIf="tasks$ | async else loading">
  <h4>My Tasks:</h4>

  <div class="main__task" *ngFor="let task of (tasks$ | async) let i = index">
    <app-task-item [i]="i"
                   [task]="task"
                   (removedTask)="removeTask($event)"
                   (savedTaskAfterEdition)="saveTaskAfterEdition($event)"
    ></app-task-item>
  </div>

  <button mat-raised-button
          color="primary"
          (click)="createNewTask()"
  >
    Create a new task
  </button>
</div>

<ng-template #loading>
  <app-loading-spinner [diameter]="40"></app-loading-spinner>
</ng-template>
